body {
    background-color: gainsboro;
}
button {
    width: 50px;
    height:50px;
    font-size: 24px;
    margin: 10px;
    font-family: "Times New Roman";
    background-color: darkgray;
}
h1, h2, h3 {
    font-family: "Sylfaen";
    text-align: center;
}
.centerContainer {
    display: flex;
    justify-content: center;
}
.innerTextContainer {
    display: block;
}

#makeWordstyle{
position: relative;
width:200 px;
height:100px;
font-family: "Times New Roman";
bottom: 50 px;
}

#makeWord{
position: relative;
width:200px;
background-color: darkgray;
font-family: "Times New Roman";
font-size:5px
bottom: 50 px;
float:left;
}

#hintButtonstyle{
position: relative;
height:100px;
font-family: "Times New Roman";
}

#hintButton{
position: relative;
width:200px;
background-color: darkgray;
font-family: "Times New Roman";
float: left;
}