body {
    background-color: gainsboro;
}
button {
    width: auto;
    height: auto;
    min-width: 50px;
    min-height: 50px;
    font-size: 24px;
    margin: 10px;
    padding: 10px;
    font-family: "Times New Roman";
    background-color: darkgray;
    cursor: pointer;
    pointer-events: all;
}
h1, h2, h3 {
    font-family: "Sylfaen";
    text-align: center;
}
.centerContainer {
    display: flex;
    justify-content: center;
}
.innerTextContainer {
    display: block;
}
.correctGuessButton {
    background-color: palegreen;
    color: darkgreen;
    cursor: not-allowed;
    pointer-events: none;
}
.wrongGuessButton {
    background-color: indianred;
    color: darkred;
    cursor: not-allowed;
    pointer-events: none;
}